.main {
  padding: 8px 0;
}

.header {
  padding: 0 4px 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #393e46;
}
.header-title {
  font-size: 24px;
  font-weight: bolder;
  color: #eee;
}
.nut {
  font-size: 30px;
  line-height: 24px;
  color: #ffd369;
}

.text-field {
  font-size: 18px;
  margin: 8px 0;
  text-align: center;
}
.text-field input {
  text-align: center;
}

.letter-input.bg-green {
  background: #2e7d32;
}
.letter-input.bg-yellow {
  background: #ffd369;
}
.letter-input.c-black input {
  color: black;
}
.letter-input {
  background: #393e46;
  border-radius: 8px;
  margin: 2px;
  width: 20%;
  aspect-ratio: 1;
}

.letter-input input {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}
.keyboard {
  border-top: 1px solid #393e46;
  padding-top: 12px;
}
.keyboard-button {
  width: 10%;
  border-radius: 8px;
}
