html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #222831;
  color: #eee;
}

a {
  color: #ffd369;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='text'] {
  color: #eee;
}

button {
  white-space: pre;
}

h1,
h2,
h3,
h4 {
  margin: 0.5em 0;
}

td {
  text-align: center;
  border: 1px solid #ffd369;
  padding: 2px 4px;
}
